.ModalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  animation: fadeIn 0.5s forwards;
}

.MissionModal {
  position: relative;
  width: 28%;
  height: 75%;
  background-color: #151320;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transform: translateY(100vh);
  animation: slideUp 0.5s forwards;
}

.MissionImageWrapper {
  position: relative;
  width: 100%;
  height: 50%;
}

.MissionImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.GradientOverlay {
  position: relative;
  bottom: 7px;
  left: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(to bottom, transparent, #151320);
}

.MissionContent {
  padding: 1.15vh;
  flex: 1;
  width: 83%;
  font-size: 0.93vw;
  line-height: 1.25em;
  font-weight: 500;
  position: relative;
  left: 7%;
}

.MissionContent7 {
  padding: 1.15vh;
  height: 100%;
  font-size: 1.67vh;
  line-height: 1.25em;
  font-weight: 500;
}

.ButtonInputs {
  padding-left: 1.15vh;
  padding-right: 1.15vh;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  flex: 1;
  width: 80%;
  transform: translateX(7%);
}

.MissionTitleWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(21, 19, 32, 1);
  width: 100%;
  height: 8%;
  position: absolute;
  top: 0;
  z-index: 1;
}

.MissionTitle {
  color: #fff;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  font-size: 1vw;
  line-height: 1.15em;
  transform: translate(15.25%);
  width: 75%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.MissionLine {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  pointer-events: none;
}

.MissionLine7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

.MissionLine2 {
  position: absolute;
  top: 0;
  left: -3px;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

.MissionActions {
  margin-top: 0.25vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1vw;
}

.InputButtonWrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
}

button {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1.1vw;
  font-weight: bold;
  text-transform: uppercase;
}

.CompletedText {
  font-size: 1vw;
  color: white;
  text-align: center;
  font-weight: 500;
}

.MissionCircle {
  position: absolute;
  top: -0.5vw;
  right: -3%;
  width: 17%;
  height: auto;
  z-index: 4;
  pointer-events: none;
}

.MissionIcon {
  position: absolute;
  top: 1.4vh;
  right: 1.75%;
  width: 9%;
  height: auto;
  z-index: 5;
  pointer-events: none;
}

.Mission7Content {
  position: absolute;
  top: 11.5%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;

  h2 {
    text-align: center;
    font-size: 2vh;
  }


}

.Mission7Desc0 {
  position: absolute;
  top: 40%;
  width: 60%;
  left: 41%;
  font-weight: 900;
  font-size: 2vh;

  p {
    margin-bottom: 1vh;
  }
}

.Mission7Desc {
  position: absolute;
  top: 20%;
  width: 60%;
  left: 28%;

  p {
    margin-bottom: 1vh;
  }
}

.Mission7Desc2 {
  position: absolute;
  top: 20%;
  width: 60%;
  left: 20%;
  text-align: center;

  p {
    margin-bottom: 1vh;
  }
}

.Kami1 {
  width: auto;
  height: 54%;
  position: absolute;
  bottom: 0;
  z-index: -1;
  left: 20%;
}

.Kami2 {
  width: auto;
  height: 43.5%;
  position: absolute;
  bottom: 0;
  z-index: -1;
  left: 20%;
}

.Kami3 {
  width: auto;
  height: 29.75%;
  position: absolute;
  bottom: 0;
  z-index: -1;
  left: 8%;
}

.Kami4 {
  width: auto;
  height: 36.75%;
  position: absolute;
  bottom: 35%;
  z-index: 0;
  left: 20%;
  pointer-events: none;
}

.Mission7Sub {
  margin-top: 1.5vh;
}

.Mission7Sub2 {
  margin-top: 75%;
  left: 9%;
  position: relative;
}

.Mission7Button {
  background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
  border-radius: 25px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 2vh;
  justify-content: center;
  padding: 0.5vw;
  text-decoration: none;
  width: 25vh;
  border: 0;
  cursor: pointer;
}

.Mission7Button2 {
  background-image: linear-gradient(-180deg, #37aee2, #1e96c8);
  border-radius: 25px;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  font-size: 3vh;
  justify-content: center;
  padding: 0.5vw;
  text-decoration: none;
  width: 84%;
  border: 0;
  cursor: pointer;
}

.greyedOutButton {
  background-color: grey;
  cursor: not-allowed;
}


.loadingOverlayWrapper {
  z-index: 10;
}

.buttonContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.customButton {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1.1vw;
  font-weight: bold;
  text-transform: uppercase;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.InputContent {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 1.1vw;
  font-weight: bold;
  text-transform: uppercase;
  width: 7vw;
}

.InputContent::placeholder {
  color: white;
  opacity: .75;
}

.loadingButton {
  align-items: center;
  justify-content: center;
}

.loadingText {
  margin-left: 8px;
}

.spinner {
  display: inline-block;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #fff;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
}

.tweetEmbedContainer {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.toggleButton {
  padding: 10px 20px;
  background-color: #FF5F38;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1vw;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #DB9E2D;
  }
}

.scrollableContainer {
  width: 20vw;
  margin-top: 10px;
  height: 6vw;
  overflow-y: auto;
  border: 2px solid #e36e43;
  border-radius: 5px;
  background-color: #1a1a1a;

  &::-webkit-scrollbar {
    width: 10px;
    background-color: #3b1560;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #f8961e;
    border-radius: 5px;
    border: 2px solid #3b1560;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #fca311;
  }

  &::-webkit-scrollbar-track {
    background-color: #31124f;
  }

  &::-webkit-scrollbar-corner {
    background-color: #3b1560;
  }
}

.tweetEmbed {
  width: 100%;
  height: 100%;
  border: none;
  transform: translateY(-7%);
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5vh;
  top: 18%;
  position: absolute;
  left: 16%;
}

.timelineStep {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timelineNumber {
  position: absolute;
  left: -125%;
  top: calc(3% - -0.5vh);
  color: #FFFFFF;
  font-weight: 700;
}

.timelineNode {
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 50%;
  border: 0.17vw solid #FFFFFF;
  background-color: #34AADC;
  position: relative;
  z-index: 1;
  min-width: 2.25vh;
  min-height: 2.25vh;
}

.previousNode {
  background-color: #006994;
  border: 0.17vw solid #A0A0A0;
}

.timelineLine {
  width: 4px;
  height: 6vh;
  background-color: #34AADC;
}

.previousLine {
  background-color: #006994;
}

.timelineEndLine {
  width: 4px;
  height: calc(16.75vh - 16px);
  background-color: #FFFFFF;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    background-color: rgba(0, 0, 0, 0);
  }

  to {
    background-color: rgba(0, 0, 0, 0.75);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100vh);
  }

  to {
    transform: translateY(0);
  }
}


@media (max-width: 1024px) {
  .MissionModal {
    width: 90%;
    height: 75%;
  }

  .MissionTitle {
    font-size: 3.25vw;
  }

  .MissionContent {
    font-size: 1.67vh;
    width: 75%;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    transform: translateX(12%);
  }

  button {
    font-size: 2.2vw;
  }

  .CompletedText {
    font-size: 3.5vw;
  }

  .customButton {
    font-size: 3vw;
  }

  .MissionActions {
    margin-top: -3.75vw;
    gap: 4vw;
  }

  .MissionImageWrapper {
    height: 29vh;
  }

  .ButtonInputs {
    padding-top: 2vh;
    transform: translateX(12%);
  }

  .scrollableContainer {
    width: 64vw;
    height: 25vw;
  }

  .toggleButton {
    font-size: 1.75vh;
    padding: 7px 13px;
  }


}