/* General styles for the SVG container */
.svgContainer {
  width: 100%;
  height: auto;
}

.svgContainer svg {
  width: 100%;
  height: auto;
}

/* Keyframe animations for Lineas */
@keyframes linea1-opacity {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes linea2-opacity {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes linea3-opacity {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes linea4-opacity {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes linea5-opacity {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes linea6-opacity {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes linea7-opacity {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* Applying animations to each Linea */
:global(#Linea1) {
  animation: linea1-opacity 7s linear infinite;
}

:global(#Linea2) {
  animation: linea2-opacity 7s linear infinite;
}

:global(#Linea3) {
  animation: linea3-opacity 7s linear infinite;
}

:global(#Linea4) {
  animation: linea4-opacity 7s linear infinite;
}

:global(#Linea5) {
  animation: linea5-opacity 7s linear infinite;
}

:global(#Linea6) {
  animation: linea6-opacity 7s linear infinite;
}

:global(#Linea7) {
  animation: linea7-opacity 7s linear infinite;
}