.topbar {
    display: flex;
    align-items: center;
    padding: 20px 2.5% 0 2.5%;
    position: relative;
    width: 95%;
    height: 100%;
    z-index: 10;
}

.topbarMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 7.5% 20px 7.5%;
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
    /* Adjust height as needed */
    background-color: rgba(21, 19, 32, 0);
    /* Adjust opacity or color as needed */
    z-index: 10;
    box-sizing: border-box;
}

.topbarLeft {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: flex-start;
    width: 25%;
}

.topbarCenter {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
    display: flex;
    cursor: 'pointer';
    text-align: center;
    width: 50%;
}

.topbarRight {
    display: flex; 
    justify-content: space-between;
    list-style-type: none; 
    display: flex;
    /* Flexbox for horizontal layout */
    justify-content: space-between;
    /* Distributes the logo, links, buttons */
    flex-direction: row;
    /* Horizontal layout for buttons */
    list-style-type: none;
    /* Removes default list styling */
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    width: 25%;
    gap: 1rem; 
    width: 25vw;
    gap: 1rem;
    /* Space between button items */
    z-index: 1;
}

.topbarTop {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topbarBottom {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.topbarLeftMobile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: flex-start;
    width: 50%;
}

.topbarRightMobile {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.hexagonButtonWrapper {
    position: relative;
    width: 20%;
    display: flex;
    align-items: center;
}

.timeCapsuleWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.TimeCapsule {
    width: 8vw;
    height: auto;
}

.TimerText {
    color: black;
    font-size: 0.6em;
    pointer-events: none;
    position: absolute;
    font-weight: bold;
}

.TimeCapsuleMobile {
    width: 28vw;
    height: auto;
}

.TimerTextMobile {
    color: black;
    font-size: 0.8em;
    pointer-events: none;
    position: absolute;
    font-weight: bold;
}

.KonectaLogo {
    width: 13.5vw;
    height: auto;
}

.KonectaLogoMobile {
    width: 28.5vw;
    height: auto;
}

.topbarButton {
    display: flex;
    /* Flexbox for aligning content */
    align-items: center;
    justify-content: center;
    /* Centers button content */
    cursor: pointer;
    /* Changes cursor to pointer */
    max-width: 3vw;
}

.CustomHexagonButton {
    scale: 30%;
    position: absolute;
    right: 12.3125%;
    transform: translateY(-85%);
}

/* Main collapse wrapper */
.collapseWrapper {
    position: fixed;
    bottom: 2rem;
    right: 3rem;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center the open/close button */
}

/* Hexagon buttons container */
.collapsedButtons {
    display: flex;
    flex-direction: column;
    /* Stack buttons vertically */
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 1rem;
    /* Space between button items */
    position: absolute;
    bottom: 5rem;
    /* Adjust as necessary */
    right: 0;
    align-items: center;
    /* Center the hexagon buttons */
}

/* Individual button styling */
.collapsedButton {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    /* Uniform size for all buttons */
    width: 60px;
    /* Set a fixed width */
    height: 60px;
    /* Set a fixed height */
}

/* Target the HexagonButton within collapseWrapper for open/close button */
.collapseWrapper>.HexagonButton {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 1rem;
    /* Ensure spacing between the open/close button and other buttons */
}