.topbar {
    display: flex;
    align-items: center;
    padding: 20px 2.5% 0 2.5%;
    position: relative;
    width: 95%;
    height: 100%;
    z-index: 10;
}

.topbarMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 7.5% 20px 7.5%;
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: rgba(21, 19, 32, 0);
    z-index: 10;
    box-sizing: border-box;
}

.topbarLeft {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: flex-start;
    width: 25%;
}

.topbarCenter {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
    display: flex;
    cursor: 'pointer';
    text-align: center;
    width: 50%;
}

.topbarRight {
    display: flex; 
    justify-content: space-between;
    list-style-type: none; 
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    width: 25%;
    gap: 1rem; 
    width: 25vw;
    gap: 1rem;
    z-index: 1;
}

.topbarTop {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topbarBottom {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1vh;
}

.topbarLeftMobile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: flex-start;
    width: 50%;
}

.topbarRightMobile {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.hexagonButtonWrapper {
    position: relative;
    width: 23%;
    display: flex;
    align-items: center;
}

.timeCapsuleWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.TimeCapsule {
    width: 8vw;
    height: auto;
}

.TimerText {
    color: black;
    font-size: 0.75vw;
    pointer-events: none;
    position: absolute;
    font-weight: bold;
}

.TimeCapsuleMobile {
    width: 28vw;
    height: auto;
}

.TimerTextMobile {
    color: black;
    font-size: 3.25vw;
    pointer-events: none;
    position: absolute;
    font-weight: bold;
}

.KonectaLogo {
    width: 13.5vw;
    height: auto;
}

.KonectaLogoMobile {
    width: 28.5vw;
    height: auto;
}

.topbarButton {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    max-width: 3vw;
}

.CustomHexagonButton {
    scale: 30%;
    position: absolute;
    right: 12.3125%;
    transform: translateY(-85%);
}

.collapseWrapper {
    position: fixed;
    bottom: 2rem;
    right: 3rem;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collapsedButtons {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 1rem;
    position: absolute;
    bottom: 5rem;
    right: 0;
    align-items: center;
}

.collapsedButton {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    width: 60px;
    height: 60px;
}

.collapseWrapper>.HexagonButton {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 1rem;
}