@import url('https://fonts.googleapis.com/css?family=Inter:800&display=swap');

$animation-duration: 4s;
$animation-timing-function: ease-in-out;

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes floatOpposite {
  0% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}

@keyframes capsuleFloat {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-25px);
  }

  100% {
    transform: translateY(0);
  }
}

.HomeContainer {
  text-align: center;
  color: white;
  position: relative;
  width: 100%;
  height: 100%;
}

.OverlayWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.SvgWrapper {
  position: fixed;
  left: -5%;
  top: 58%;
  transform: translateY(-50%);
  width: 20vw;
  animation: float $animation-duration $animation-timing-function infinite;
  z-index: 2;
}

.HelpButtons {
  position: absolute;
  z-index: 5;
  right: 0%;
  scale: 50%;
  top: 8vh;
}

.HelpButtons2 {
  position: absolute;
  z-index: 5;
  left: -5.5vh;
  scale: 37%;
  top: 6.25vh;
}

.TextWrapper {
  position: fixed;
  left: 10%;
  top: 24%;
  transform: translateY(-50%);
  animation: float $animation-duration $animation-timing-function infinite;
  z-index: 3;
}


.KamiWrapper {
  position: relative;
  left: 9%;
  top: -50%;
  transform: translateY(-100%) scale(0.67);
}

.BottomPlataformaWrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 15%;
  width: 100%;
  transform: translateY(50%);
  z-index: 2;
}

.PlataformaContainer {
  width: 100%;
  max-width: 50vw;
  height: auto;
  animation: floatOpposite $animation-duration $animation-timing-function infinite;
  top: -15vw;
  position: relative;
}

.Casco {
  position: relative;
  bottom: -21vw;
  scale: 0.9;
}

.CascoLogin {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: auto;
  top: 0;
}

.LoadingOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10000;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.KonectaLogoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4vh;
}

.KonectaLogoWrapper2 {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 4vh;
  margin-left: 2vh;
  scale: 0.95;
}

.KonectaLogo {
  width: 25vh;
  max-width: 20vh;
  height: auto;
}

.HelpButtonContainer {
  transform: translateY(25%);
}

.KonecB {
  width: 25vh;
  max-width: 25vw;
}

.HelpB {
  width: 25vh;
  max-width: 25vw;
  transform: translateY(20%);
}

.KonecB2 {
  width: 25vh;
}

.HelpB2 {
  width: 25vh;
  transform: translateY(20%);
}