@keyframes slideIn {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

.ModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.ModalContent {
    background-color: #151320;
    padding: 20px;
    border-radius: 50px;
    position: relative;
    z-index: 1001;
    width: 67%;
    height: 75%;
    display: flex;
    max-height: 67%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
    animation: slideIn 0.5s ease-out forwards;
}

.ModalContent.hide {
    animation: slideOut 0.5s ease-out forwards;
}

.ModalContent::before {
    content: '';
    position: absolute;
    top: -1%;
    left: -0.5%;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    padding: 8px;
    background: linear-gradient(135deg, #3A77EF, #33CBDA, #3A77EF, #33CBDA, #3A77EF);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: -1;
    pointer-events: none;
    transform: scale(0.99);
}

.ModalContent2 {
    background-color: #151320;
    padding: 20px;
    border-radius: 50px;
    position: relative;
    z-index: 1001;
    width: 70%;
    height: 80%;
    display: flex;
    max-height: 67%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
    animation: slideIn 0.5s ease-out forwards;
    margin-bottom: 12vh;
    display: flex;
    justify-content: center;
}

.ModalContent2.hide {
    animation: slideOut 0.5s ease-out forwards;
}

.ModalContent2::before {
    content: '';
    position: absolute;
    top: -1%;
    left: -0.5%;
    width: 98%;
    height: 99%;
    border-radius: 50px;
    padding: 8px;
    background: linear-gradient(135deg, #3A77EF, #33CBDA, #3A77EF, #33CBDA, #3A77EF);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: -1;
    pointer-events: none;
    transform: scale(0.99);
}

.CloseButton {
    position: absolute;
    top: 3%;
    right: 1%;
    background: none;
    border: none;
    font-size: 1.5vw;
    cursor: pointer;
    color: white;
    width: 5%
}

.CloseButton2 {
    position: absolute;
    top: 2%;
    right: 5%;
    background: none;
    border: none;
    font-size: 4.25vw;
    cursor: pointer;
    color: white;
    width: 5%
}

.KamiKonecta {
    width: 20%;
    bottom: 8%;
    left: 4%;
    position: absolute;
}

.KonectaLogo {
    width: 7%;
    z-index: 1;
    position: absolute;
    left: 17%;
    bottom: 60%;
    animation: float 3s ease-in-out infinite;
}


@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-8%);
    }

    100% {
        transform: translateY(0);
    }
}

.Container {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 10vh;
    width: 50%;
    position: absolute;
    left: 37%;
    bottom: 5%;
}

.KonectaAnim {
    position: absolute;
    width: 40vh;
    bottom: 6%;
    left: 40%;
}

.KonectaAnim2 {
    position: relative;
    display: flex;
    justify-content: center;
    width: 40vw;
}

.Texto {
    position: absolute;
    top: 12%;
    width: 62%;
    left: 30%;
    text-align: justify;
    font-size: 2vh;
    line-height: 2.5vh;
}

.Texto p {
    padding-bottom: 1vh;
}

.Texto2 {
    position: relative;
    width: 80%;
    text-align: justify;
    line-height: 4vw;
}

.Texto2 p {
    font-size: 1rem;
}

.ContentWrapper2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 95%;
    margin-top: 10px;
    overflow: hidden;
}