@import url('https://fonts.googleapis.com/css?family=Inter');

:root {
  font-family: Inter;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

html {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #3b1560;
  /* Base of the scrollbar area */
}

::-webkit-scrollbar-thumb {
  background-color: #f8961e;
  border-radius: 5px;
  border: 2px solid #3b1560;
  /* Creates a "padding" effect around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fca311;
}

::-webkit-scrollbar-track {
  background-color: #31124f;
  /* The track the thumb slides along */
}

::-webkit-scrollbar-corner {
  background-color: #3b1560;
  /* Corner when both scrollbars are present */
}