/* ActionButtons.module.scss */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    /* Black background */
    opacity: 0;
    /* Start fully transparent */
    transition: opacity 0.3s ease;
    pointer-events: none;
    /* Disable interaction when not active */
    z-index: 98;
    /* Just below the action buttons */

    &.active {
        opacity: 0.50;
        /* dark overlay */
        pointer-events: auto;
        /* Enable interaction when active */
    }
}

/* Individual button styling */
.collapsedButton {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    width: 60px;
    height: 60px;

    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;

    /* This class is added when the button should be visible */
    &.buttonVisible {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Main collapse wrapper */

.collapseWrapperNfid {
    position: absolute;
    bottom: 30vh;
    right: 7vw;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Hexagon buttons container */
.collapsedButtons {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 1rem;
    position: absolute;
    bottom: 5.5rem;
    right: 1rem;
    align-items: center;
    justify-content: center;

    /* Keep the container always visible */
    opacity: 1;
    pointer-events: none;

    &.active {
        pointer-events: auto;
    }
}