@keyframes slideIn {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

.ModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.ModalContent {
    background-color: #151320;
    padding: 20px;
    border-radius: 50px;
    position: relative;
    z-index: 1001;
    width: 67%;
    height: 75%;
    display: flex;
    max-height: 67%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
    animation: slideIn 0.5s ease-out forwards;
}

.ModalContent.hide {
    animation: slideOut 0.5s ease-out forwards;
}

.ModalContent::before {
    content: '';
    position: absolute;
    top: -1%;
    left: -0.5%;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    padding: 8px;
    background: linear-gradient(135deg, #3A77EF, #33CBDA, #3A77EF, #33CBDA, #3A77EF);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: -1;
    pointer-events: none;
    transform: scale(0.99);
}

.CloseButton {
    position: absolute;
    top: 3%;
    right: 0.3%;
    background: none;
    border: none;
    font-size: 1.5vw;
    cursor: pointer;
    color: white;
    width: 5%
}

.CloseButton:hover {
    color: inherit;
    background: none;
}

.LeftSection {
    width: 50%;
    padding-right: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #3A77EF transparent;
    transform: translate(12%, 20%);
    height: 72%;
}

.RightHexContainer {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(9%, -5%);
    scale: 0.85;
}

.Hexagon {
    width: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 67% 100%, 0% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 8px;
}

.Hexagon::before {
    content: '';
    position: absolute;
    width: 81%;
    height: 100%;
    background: linear-gradient(135deg, #3A77EF, #33CBDA, #3A77EF, #33CBDA, #3A77EF);
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 67% 100%, 0% 100%);
    z-index: -1;
    border-radius: 18px;
}

.Hexagon img {
    width: 80%;
    height: auto;
    background-color: #151320;
    position: relative;
    z-index: 1;
}

.Kamimage {
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 67% 100%, 0% 100%);
    height: 80%;
    width: auto;
    border-radius: 13px;
}

.ProgressEntry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-top: 10px;
    font-weight: bold;
}

.EntryContent {
    flex: 1;
    margin-right: 20px;
}

.ProgressEntry h3 {
    font-size: calc(14px + 0.5vw);
    margin-bottom: 5px;
    color: #3A77EF;
}

.ProgressEntry p {
    font-size: calc(8px + 0.5vw);
    margin-bottom: 5px;
    color: white;
}

.TweetLink {
    color: #33CBDA;
    text-decoration: none;
    font-weight: bold;
}

.Achievements {
    position: absolute;
    width: 100%;
    height: 10%;
    transform: translate(15vw, 50%);
    font-size: 1.5vw;
    font-weight: bold;
}

.TweetLink:hover {
    text-decoration: underline;
}

.RightSection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    min-width: 100px; 
}


.PointsEarned {
    font-size: 1.2em;
    font-weight: bold;
    color: white;
}